@import "tailwindcss";
:root {
--bgColor:linear-gradient(180deg, rgb(14, 21, 41) 0%, rgb(16, 25, 48) 55%, rgb(17, 26, 55) 100%);
--headerBG:rgba(12, 18, 33);
--bgSecondary:rgb(12, 18, 33);
--textPrimary: #F2F6FE;
--textSecondary: #B0BCD2;
--colorAccent: rgb(14, 211, 149);
--colorHover: rgb(13, 229, 161);
}
html, body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  color: var(--textPrimary);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bgColor);
  min-height: 100vh;
  
}

