@import "tailwindcss";
:root{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 2rem;
  background: linear-gradient(180deg, #1f1c2c 0%, #1f1c2c 100%); 

}

body{
  display:flex;
  align-items: center;
  justify-content: center;
}