@import "tailwindcss";
:root {
--bgColor:rgb(16, 25, 48);
--bgSecondary:rgb(12, 18, 33);
--textPrimary: #F2F6FE;
--textSecondary: #e5e7eb;
--colorAccent: #0ed395;
--colorHover: rgb(13, 229, 161);
}
html, body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  color: var(--textPrimary);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bgColor);
  min-height: 100vh;
  
}

.heroRight::after {
  content: "";
  position: absolute;
  inset: 0;
  
  background: linear-gradient(to right,
    rgba(5, 10, 20, 0.30) 12%,
    rgba(5, 10, 20, 0.15)50%
  );
  z-index: 6;
}
.heroLeft::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left,
     rgba(5, 10, 20, 0.30) 12%,
    rgba(5, 10, 20, 0.15)50%
  );
  z-index: 5;
}

.moveCard:hover{
  background-color: gray;
}